USE [BoatDB]
GO
/****** Object:  Table [dbo].[Boat]    Script Date: 12/22/2019 9:05:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boat](
	[bid] [int] IDENTITY(1,1) NOT NULL,
	[bname] [nvarchar](50) NULL,
	[color] [nvarchar](20) NULL,
 CONSTRAINT [PK_Bot] PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserve]    Script Date: 12/22/2019 9:05:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserve](
	[sid] [int] NOT NULL,
	[bid] [int] NOT NULL,
	[date] [datetime] NULL,
	[rid] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Reserve] PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sailor]    Script Date: 12/22/2019 9:05:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sailor](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[sname] [nvarchar](50) NULL,
	[srate] [int] NULL,
	[sdate] [datetime] NULL,
 CONSTRAINT [PK_Sailor] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reserve]  WITH CHECK ADD  CONSTRAINT [FK_Reserve_Boat1] FOREIGN KEY([bid])
REFERENCES [dbo].[Boat] ([bid])
GO
ALTER TABLE [dbo].[Reserve] CHECK CONSTRAINT [FK_Reserve_Boat1]
GO
ALTER TABLE [dbo].[Reserve]  WITH CHECK ADD  CONSTRAINT [FK_Reserve_Sailor1] FOREIGN KEY([sid])
REFERENCES [dbo].[Sailor] ([sid])
GO
ALTER TABLE [dbo].[Reserve] CHECK CONSTRAINT [FK_Reserve_Sailor1]
GO
